<h2>Creazione Supereroe</h2>

<form [formGroup]="superheroForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome:</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
    <div
      *ngIf="
        superheroForm.controls['name'].invalid &&
        (superheroForm.controls['name'].dirty ||
          superheroForm.controls['name'].touched)
      "
    >
      <div *ngIf="superheroForm.controls['name']?.errors?.['required']">
        Il nome è obbligatorio.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="alterEgo">Alter Ego:</label>
    <input
      type="text"
      class="form-control"
      id="alterEgo"
      formControlName="alterEgo"
    />
    <div
      *ngIf="
        superheroForm.controls['alterEgo'].invalid &&
        (superheroForm.controls['alterEgo'].dirty ||
          superheroForm.controls['alterEgo'].touched)
      "
    >
      <div *ngIf="superheroForm.controls['alterEgo']?.errors?.['required']">
        L'alter ego è obbligatorio.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="power">Potere:</label>
    <select class="form-control" id="power" formControlName="power">
      <option value="">Seleziona un potere</option>
      <option *ngFor="let option of powerOptions" [value]="option">
        {{ option }}
      </option>
    </select>
    <div
      *ngIf="
        superheroForm.controls['power'].invalid &&
        (superheroForm.controls['power'].dirty ||
          superheroForm.controls['power'].touched)
      "
    >
      <div *ngIf="superheroForm.controls['power']?.errors?.['required']">
        Il potere è obbligatorio.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="enemy">Nemico:</label>
    <input
      type="text"
      class="form-control"
      id="enemy"
      formControlName="enemy"
    />
    <div
      *ngIf="
        superheroForm.controls['enemy'].invalid &&
        (superheroForm.controls['enemy'].dirty ||
          superheroForm.controls['enemy'].touched)
      "
    >
      <div *ngIf="superheroForm.controls['enemy']?.getError('maxlength')">
        La lunghezza massima del nemico è 10 caratteri.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="planet">Pianeta:</label>
    <input
      type="text"
      class="form-control"
      id="planet"
      formControlName="planet"
    />
    <div
      *ngIf="
        superheroForm.controls['planet'].invalid &&
        (superheroForm.controls['planet'].dirty ||
          superheroForm.controls['planet'].touched)
      "
    >
      <div *ngIf="superheroForm.controls['planet']?.errors?.['required']">
        Il pianeta è obbligatorio.
      </div>
      <div *ngIf="superheroForm.controls['planet']?.getError('minlength')">
        La lunghezza minima del pianeta è 5 caratteri.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="weakness">Debolezza:</label>
    <input
      type="text"
      class="form-control"
      id="weakness"
      formControlName="weakness"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="superheroForm.invalid"
  >
    Crea Supereroe
  </button>
</form>
