<div class="container">
  <div class="row">
    <div class="col" *ngFor="let user of usersArray">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ user.id + ". " + user.name + " " + user.surname }}
          </h5>
          <p class="card-text">{{ user.email }}</p>
          <a class="btn btn-primary display-flex" (click)="delete(user)"
            >Elimina</a
          >
          <a class="btn btn-primary" (click)="changeMail(user.email)"
            >Cambia la tua email</a
          >
          <a class="btn btn-primary" (click)="changeName(user.name)"
            >Cambia il tuo nome</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
